<div class="shop">
  <div class="shop-data">
    <h1>¡Reserva aquí!</h1>
    <hr>
    <div class="main-shop-info">
      Estás a punto de obtener un producto revolucionario. <br>
      Tu EMU Wheel no solo te llevará donde quieras ir (y te llevará rápido),
      sino que lo hará sin que tengas que sudar una sola gota y sin
      obligarte a pensar qué hacer con tu medio de transporte una
      vez que llegues al lugar, ya que se puede almacenar en cualquier
      espacio! <br>
    </div>
    Para obtener tu EMU Wheel, reserva una a tu nombre y
    anda a retirarla a nuestra tienda, donde podrás probarla
    además de plantear cualquier duda que te surja a
    nuestros vendedores.<br>
    Precio: $549.990
    <hr>
    <div class="shop-buttons">
      <a class="shop-button hero-button" href="/reserva">Reservar</a>
      <a class="shop-button hero-button know-more-button"
        href="/la-rueda">Conocer más</a>
    </div>
  </div>
  <div class="shop-image">
    <img src="/images/content/emu_product.jpg"
      alt="Imagen producto EMU Wheel verde tienda">
  </div>
</div>
